.heading_top {
  font-size: 40;
  text-align: center;
  font-style: oblique;
  border: 2px #03141f;
  border-radius: 1.5px;
  justify-content: stretch;
}

.obj_name {
  background-color: rgb(5, 24, 42);
  color: snow;
  font-style: normal;
}

.obj_value {
  background-color: #cad0d4;
  font-style: normal;
  /* padding: 3px; */
}

/* .table_set {
padding-left: 3px;
} */
/* .main-contain {
margin-left: 5px;
} */

.over {
  overflow: overlay;
}

.obj_head {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.mrg_fill {
  margin-top: 5px;
  margin-bottom: 5px;
}

.in-put {
  width: 3em;
  display: inline;
  padding: 2px 1px 1px 1px;
  font-size: 13px;
  padding-right: 1px;
  text-align: center;
  border-radius: 1px;
}

.mid {
  text-align: center;
}

.disfl {
  display: flex;
}

.bck {
  background-color: var(--primary);
  color: var(--primary-heading);
  --bs-gutter-x: 0rem;
  padding: 4px 5px;
}

.mybt {
  background: #eee;
  /* padding: 0px 5px; */
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0px 2px;
  font-size: 14px;
  cursor: pointer;
}

.tpi {
  float: right;
}
.rcd_count {
  padding: 5px;
}
.spfont {
  font-size: 13px;
  padding: 3px;
}
.val_pad {
  padding: 3px;
  font-size: 17px;
  white-space: nowrap;
}

.val_under {
  text-decoration: underline;
}

.bt_padd {
  align-content: center;
  font-weight: bold;
}

/* .img {
width: 10%;
} */

.filter-ic {
  padding-left: 10px;
}

.bck-rel {
  border-left: 1px solid #fff;
}

.list {
  /* position: fixed; */
  display: flex;
  display: inline;
  font: menu;
  position: relative;
}

.inp {
  align-content: center;
  border-radius: 4px;
  margin: 5px;
  font-size: 14px;
}

.btnnn {
  /* padding: 0px 5px; */
  border: none;
  border-radius: 1px;
  margin: 0px 2px;
  font-size: 9px;
}

.addandcancel {
  margin-left: 30px;
  font-variant: all-small-caps;
  font-size: 18px;
  /* margin-left: 12px; */
}

.icupdown {
  visibility: hidden;
}

.icpadding {
  margin-left: 11px;
}

.vlpointer {
  cursor: pointer;
  white-space: nowrap;
}

.cog_pd {
  padding-left: 5px;
  padding-right: 5px;
}

.norcd {
  text-align: center;
  font-weight: bold;
  color: black;
}

.sub-btn {
  margin-left: 0.5em;
}

.csm_btn {
  line-height: 1.4em;
  width: auto;
  border-radius: 5px;
  font-size: var(--primary-btn-size);
  font: var(--primary-font);
}

.csm_btn_pri {
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

.srch {
  line-height: 0.8em;
  width: 30%;
  display: inline;
  padding: 0.1em 0.5em;
  margin-left: 0.5em;
}

.srch-mob {
  line-height: 0.8em;
  width: 35%;
  display: inline;
  padding: 0.1em 0.5em;
  margin-left: 0.5em;
}

.namelist-mob {
  line-height: 0.8em !important;
  width: 35% !important;
  display: inline !important;
}

.namelist {
  line-height: 0.8em !important;
  width: 30% !important;
  display: inline !important;
}

.tpp {
  padding-top: 0.5em;
}

.martop10 {
  margin-top: 10px;
}

.pdtop5 {
  padding-top: 5px;
}
